<?xml version="1.0"?>
<!--
/**
 * Diglin GmbH - Switzerland
 *
 * @author Sylvain Rayé <support at diglin.com>
 * @category    Diglin
 * @package     Diglin_Ricento
 * @copyright   Copyright (c) 2011-2015 Diglin (http://www.diglin.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Diglin_Ricento>
            <version>0.0.25</version>
        </Diglin_Ricento>
    </modules>
    <default>
        <ricento>
            <api_config>
                <enabled>1</enabled>
                <dev_mode>0</dev_mode>
                <debug>0</debug>
                <assistant_url>https://assistant.ricardo.ch</assistant_url>
                <assistant_url_dev>https://ra.betaqxl.com/</assistant_url_dev>
                <signup_url>http://api.ricardo.ch/request.php</signup_url>
                <simulate_authorization>0</simulate_authorization>
                <expiration_notification_delay>1</expiration_notification_delay>
                <!-- it's only possible one day before -->
                <host>ws.betaqxl.com</host>
                <!-- @todo change with the production host -->
                <host_dev>ws.betaqxl.com</host_dev>
                <lang>de,fr</lang>
            </api_config>
            <global>
                <shipping_calculation>highest_price</shipping_calculation>
            </global>
            <cleanup_jobs>
                <enabled>1</enabled>
                <keep_days>30</keep_days>
            </cleanup_jobs>
            <listing_logs>
                <enabled>1</enabled>
                <keep_days>30</keep_days>
            </listing_logs>
        </ricento>
    </default>
    <global>
        <psr0_namespaces>
            <Diglin_Ricardo />
            <!-- Required to load the Ricardo PHP library -->
        </psr0_namespaces>
        <phpunit>
            <suite>
                <modules>
                    <Diglin_Ricento />
                </modules>
            </suite>
        </phpunit>
        <cache>
            <types>
                <ricardo_api translate="label,description" module="diglin_ricento">
                    <label>Ricardo API</label>
                    <description>Cache content when Ricardo API is called</description>
                    <tags>RICARDO_API</tags>
                </ricardo_api>
            </types>
        </cache>
        <models>
            <diglin_ricento>
                <class>Diglin_Ricento_Model</class>
                <resourceModel>diglin_ricento_resource</resourceModel>
            </diglin_ricento>
            <diglin_ricento_resource>
                <class>Diglin_Ricento_Model_Resource</class>
                <entities>
                    <products_listing>
                        <table>ricento_products_listing</table>
                    </products_listing>
                    <products_listing_item>
                        <table>ricento_products_listing_item</table>
                    </products_listing_item>
                    <sales_options>
                        <table>ricento_sales_options</table>
                    </sales_options>
                    <api_token>
                        <table>ricento_api_token</table>
                    </api_token>
                    <sync_job>
                        <table>ricento_sync_job</table>
                    </sync_job>
                    <!-- at 0.0.21 Remove this table -->
                    <sync_log>
                        <table>ricento_sync_log</table>
                    </sync_log>
                    <!-- EOF -->
                    <sync_job_listing>
                        <table>ricento_sync_job_listing</table>
                    </sync_job_listing>
                    <listing_log>
                        <table>ricento_products_listing_log</table>
                    </listing_log>
                    <shipping_payment_rule>
                        <table>ricento_shipping_payment_rule</table>
                    </shipping_payment_rule>
                </entities>
            </diglin_ricento_resource>
        </models>

        <blocks>
            <diglin_ricento>
                <class>Diglin_Ricento_Block</class>
            </diglin_ricento>
        </blocks>

        <helpers>
            <diglin_ricento>
                <class>Diglin_Ricento_Helper</class>
            </diglin_ricento>
        </helpers>

        <resources>
            <ricento_setup>
                <setup>
                    <module>Diglin_Ricento</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ricento_setup>

            <ricento_resource_read>
                <connection>core_read</connection>
            </ricento_resource_read>

            <ricento_resource_write>
                <connection>core_write</connection>
            </ricento_resource_write>
        </resources>

        <events>
            <resource_get_tablename>
                <observers>
                    <diglin_ricento>
                        <type>singleton</type>
                        <class>diglin_ricento/observer</class>
                        <method>addAutoloader</method>
                    </diglin_ricento>
                </observers>
            </resource_get_tablename>

            <add_spl_autoloader>
                <observers>
                    <diglin_ricento>
                        <type>singleton</type>
                        <class>diglin_ricento/observer</class>
                        <method>addAutoloader</method>
                    </diglin_ricento>
                </observers>
            </add_spl_autoloader>
        </events>

        <ricento>
            <allow_product_types>
                <simple />
                <configurable />
                <grouped />
            </allow_product_types>
        </ricento>
    </global>

    <adminhtml>
        <layout>
            <updates>
                <diglin_ricento>
                    <file>ricento.xml</file>
                </diglin_ricento>
            </updates>
            <jstranslate>
                <file>jstranslator.xml</file>
            </jstranslate>
        </layout>
        <translate>
            <modules>
                <diglin_ricento>
                    <files>
                        <default>Diglin_Ricento.csv</default>
                    </files>
                </diglin_ricento>
            </modules>
        </translate>
    </adminhtml>

    <admin>
        <routers>
            <ricento>
                <use>admin</use>
                <args>
                    <module>Diglin_Ricento</module>
                    <frontName>ricento</frontName>
                    <modules>
                        <diglin_ricento before="Mage_Adminhtml">Diglin_Ricento_Adminhtml</diglin_ricento>
                    </modules>
                </args>
            </ricento>
        </routers>
    </admin>

    <crontab>
        <jobs>
            <ricento_sync_jobs>
                <schedule>
                    <cron_expr>*/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>diglin_ricento/cron::process</model>
                </run>
            </ricento_sync_jobs>
        </jobs>
    </crontab>
</config>