<?xml version="1.0"?>
<!--
/**
 * Diglin GmbH - Switzerland
 *
 * @author Sylvain Rayé <sylvain.raye at diglin.com>
 * @category    Diglin
 * @package     Diglin_Ricento
 * @copyright   Copyright (c) 2011-2014 Diglin (http://www.diglin.com)
 */
-->
<config>
    <modules>
        <Diglin_Ricento>
            <version>0.0.10</version>
        </Diglin_Ricento>
    </modules>

    <default>
        <ricento>
            <api_config>
                <assistant_url>https://assistant.ricardo.ch</assistant_url>
                <assistant_url_dev>https://ra.betaqxl.com/</assistant_url_dev>
                <signup_url>http://api.ricardo.ch/request.php</signup_url>
                <dev_mode>0</dev_mode>
                <debug>0</debug>
                <simulate_authorization>0</simulate_authorization>
                <expiration_notification_delay>3</expiration_notification_delay><!-- in day -->
                <lang>fr,de</lang>
            </api_config>
            <global>
                <shipping_calculation>highest_price</shipping_calculation>
            </global>
        </ricento>
    </default>

    <global>
        <psr0_namespaces>
            <Diglin_Ricardo/>
        </psr0_namespaces>

        <models>
            <diglin_ricento>
                <class>Diglin_Ricento_Model</class>
                <resourceModel>diglin_ricento_resource</resourceModel>
            </diglin_ricento>

            <diglin_ricento_resource>
                <class>Diglin_Ricento_Model_Resource</class>
                <entities>
                    <products_listing>
                        <table>ricento_products_listing</table>
                    </products_listing>
                    <products_listing_item>
                        <table>ricento_products_listing_item</table>
                    </products_listing_item>
                    <sales_options>
                        <table>ricento_sales_options</table>
                    </sales_options>
                    <api_token>
                        <table>ricento_api_token</table>
                    </api_token>
                    <sync_log>
                        <table>ricento_sync_log</table>
                    </sync_log>
                    <shipping_payment_rule>
                        <table>ricento_shipping_payment_rule</table>
                    </shipping_payment_rule>
                </entities>
            </diglin_ricento_resource>
        </models>

        <blocks>
            <diglin_ricento>
                <class>Diglin_Ricento_Block</class>
            </diglin_ricento>
        </blocks>

        <helpers>
            <diglin_ricento>
                <class>Diglin_Ricento_Helper</class>
            </diglin_ricento>
        </helpers>

        <resources>
            <diglin_ricento_resource_setup>
                <setup>
                    <module>Diglin_Ricento</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </diglin_ricento_resource_setup>

            <diglin_ricento_resource_read>
                <connection>core_read</connection>
            </diglin_ricento_resource_read>

            <diglin_ricento_resource_write>
                <connection>core_write</connection>
            </diglin_ricento_resource_write>
        </resources>

        <models>
            <diglin_ricento>
                <class>Diglin_Ricento_Model</class>
            </diglin_ricento>
        </models>

        <events>
            <resource_get_tablename>
                <observers>
                    <diglin_ricento>
                        <type>singleton</type>
                        <class>diglin_ricento/observer</class>
                        <method>addAutoloader</method>
                    </diglin_ricento>
                </observers>
            </resource_get_tablename>

            <add_spl_autoloader>
                <observers>
                    <diglin_ricento>
                        <type>singleton</type>
                        <class>diglin_ricento/observer</class>
                        <method>addAutoloader</method>
                    </diglin_ricento>
                </observers>
            </add_spl_autoloader>
        </events>
    </global>

    <adminhtml>
        <layout>
            <updates>
                <diglin_ricento>
                    <file>ricento.xml</file>
                </diglin_ricento>
            </updates>
            <jstranslate>
                <file>jstranslator.xml</file>
            </jstranslate>
        </layout>
        <translate>
            <modules>
                <diglin_ricento>
                    <files>
                        <default>Diglin_Ricento.csv</default>
                    </files>
                </diglin_ricento>
            </modules>
        </translate>
    </adminhtml>

    <admin>
        <routers>
            <ricento>
                <use>admin</use>
                <args>
                    <module>Diglin_Ricento</module>
                    <frontName>ricento</frontName>
                    <modules>
                        <diglin_ricento before="Mage_Adminhtml">Diglin_Ricento_Adminhtml</diglin_ricento>
                    </modules>
                </args>
            </ricento>
        </routers>
    </admin>

    <phpunit>
        <suite>
            <modules>
                <Diglin_Ricento />
            </modules>
        </suite>
    </phpunit>
</config>