input[type="radio"] {
    margin-right: 7px;
}

#nav li.ricardo_logo > a {
    background: url("images/ricardo_16x16.png") no-repeat 10px 5px !important
}
#nav li.ricardo_logo > a span {
    padding-left: 20px;
}

.dialog table.table_window .grid td,
.dialog table.table_window .grid th {
    padding: 2px 4px;
}
#diglin_ricento_create_listing_fieldset {
    margin-top: 20px;
}
#diglin_ricento_create_listing_fieldset > .hor-scroll {
    position: relative;
    height: 150px;
}
#diglin_ricento_buttons_container {
    position: absolute;
    bottom: 0;
    right: 0;
}
.validation-advice .messages {
    margin-left: -16px;
}
.allowed-payment-combinations {
    margin-top: 20px;
    list-style: square outside;
}
.allowed-payment-combinations li {
    min-height: auto!important;
    font-weight: normal!important;
    font-size: 1em!important;
}
.allowed-payment-combinations em {
    font-size: 1.5em;
    font-weight: bold;
    color: red;
}
#sales_options_price_change_type {
    width: auto;
}
#diglin_ricento_price_change {
    width: 30px;
}
.ricento-form .inline-select {
    width: auto !important;
}
.ricento-form .inline-number {
    width: 50px;
}
.ricento-form td.value {
    width: auto !important;
}

.diglin_ricento_warning_icon {
    min-width: 16px;
    min-height: 16px;
    background: url('images/warning_msg_icon.gif') center center no-repeat;
}
.diglin_ricento_settings_icon {
    min-width: 16px;
    min-height: 16px;
    background: url('images/settings_icon.png') center center no-repeat;
}

/********** Category Mapping views **********/

#ricardo_categories {}
#ricardo_categories nav {
    width: 200px;
    float: left;
    background-color: rgba(255,255,255,0.7);
}
.ricardo_categories_resized nav {
    max-width: 160px;
}
#ricardo_children nav {
    margin-left: 20px;
}
#ricardo_categories li > a {
    display: block;
    padding: 5px;
    border-bottom: 1px solid #333;
    text-decoration: none;
    color: #333;
}
#ricardo_categories .selected a {
    background: darkorange;
    color: white;
    font-weight: bold;
}
#ricardo_categories a:hover {
    background: #FFBD69;
}
#ricardo_categories a:active {
    outline: 1px dotted #000000;
}
#ricardo_categories a div {
    margin-right: 20px;
}
#ricardo_categories input[type="radio"] {
    position: absolute;
    left: -9999px;
}
#ricardo_categories .icon {
    width: 16px;
    height: 16px;
    float: right;
    text-indent: -9999px;
}
#ricardo_categories .selected .icon-check {
    background: url('images/monotone_check_yes_ok.png') no-repeat;
}
#ricardo_categories .icon-plus {
    background: url('images/arrow_sans_right_32.gif') no-repeat;
}
#ricardo_categories .form-buttons {
    clear: both;
    text-align: right;
}

.ricardo_categories_title {
    margin-right: 10px;
    margin-left: 10px;
    font-weight: bold;
}

/********** Add missing Magento core pictures **********/

.magento_minimize { background:url('images/window_minimize.png') 0 0 no-repeat !important;}
.magento_maximize { background:url('images/window_maximize.png')0 0 no-repeat !important;}

/********** Ricento pages **********/

.ricento-products-listing-edit .form-list,
.ricento-products-listing-item-configure .form-list {
}
.ricento-products-listing-edit .form-list td.value,
.ricento-products-listing-item-configure .form-list td.value {
    width: auto !important;
}

.ricento-products-listing-edit .form-list td.value textarea,
.ricento-products-listing-item-configure .form-list td.value textarea {
    width: 500px;
}