/* @override http://dev.ricento.local/skin/adminhtml/default/default/ricento/css/ricento.css */

input[type="radio"] {
    margin-right: 7px;
}

.hidden {
    visibility: hidden;
}

#nav li.ricardo_logo > a {
    background: url("images/ricardo_16x16.png") no-repeat 10px 5px !important
}
#nav li.ricardo_logo > a span {
    padding-left: 20px;
}

.dialog table.table_window .grid td,
.dialog table.table_window .grid th {
    padding: 2px 4px;
}
#diglin_ricento_create_listing_fieldset {
    margin-top: 20px;
}
#diglin_ricento_create_listing_fieldset > .hor-scroll {
    position: relative;
    height: 150px;
}
#diglin_ricento_buttons_container {
    position: absolute;
    bottom: 0;
    right: 0;
}
.validation-advice .messages {
    margin-left: -16px;
}
.allowed-payment-combinations {
    margin-top: 20px;
    list-style: square outside;
}
.allowed-payment-combinations li {
    min-height: auto!important;
    font-weight: normal!important;
    font-size: 1em!important;
}
.allowed-payment-combinations em {
    font-size: 1.5em;
    font-weight: bold;
    color: red;
}
#sales_options_price_change_type {
    width: auto;
}
#diglin_ricento_price_change {
    width: 30px;
}
.ricento-form .inline-select {
    width: auto !important;
}
.ricento-form .inline-number {
    width: 50px;
}
.ricento-form td.value {
    width: auto !important;
}

.diglin_ricento_warning_icon {
    min-width: 16px;
    min-height: 16px;
    background: url('images/warning_msg_icon.gif') center center no-repeat;
}
.diglin_ricento_settings_icon {
    min-width: 16px;
    min-height: 16px;
    background: url('images/settings_icon.png') center center no-repeat;
}
.diglin_ricento_status_info dt {
    clear: both;
    float: left;
}
.diglin_ricento_status_info dd {
    float: right;
}

/********** Category Mapping views **********/

#ricardo_categories {}
#ricardo_categories nav {
    width: 200px;
    float: left;
    background-color: rgba(255,255,255,0.7);
}
.ricardo_categories_resized nav {
    max-width: 160px;
}
#ricardo_children nav {
    margin-left: 20px;
}
#ricardo_categories li > a {
    display: block;
    padding: 5px;
    border-bottom: 1px solid #333;
    text-decoration: none;
    color: #333;
}
#ricardo_categories .selected a {
    background: darkorange;
    color: white;
    font-weight: bold;
}
#ricardo_categories a:hover {
    background: #FFBD69;
}
#ricardo_categories a:active {
    outline: 1px dotted #000000;
}
#ricardo_categories a div {
    margin-right: 20px;
}
#ricardo_categories input[type="radio"] {
    position: absolute;
    left: -9999px;
}
#ricardo_categories .icon {
    width: 16px;
    height: 16px;
    float: right;
    text-indent: -9999px;
}
#ricardo_categories .selected .icon-check {
    background: url('images/monotone_check_yes_ok.png') no-repeat;
}
#ricardo_categories .icon-plus {
    background: url('images/arrow_sans_right_32.gif') no-repeat;
}
#ricardo_categories .form-buttons {
    clear: both;
    text-align: right;
}

.ricardo_categories_title {
    margin-right: 10px;
    margin-left: 10px;
    font-weight: bold;
}

/********** Add missing Magento core pictures **********/

.magento_minimize { background:url('images/window_minimize.png') 0 0 no-repeat !important;}
.magento_maximize { background:url('images/window_maximize.png')0 0 no-repeat !important;}

/********** Products Listing Page **********/

.ricento-products-listing-edit .form-list,
.ricento-products-listing-item-configure .form-list {
}
.ricento-products-listing-edit .form-list td.value,
.ricento-products-listing-item-configure .form-list td.value {
    width: auto !important;
}

.ricento-products-listing-edit .form-list td.value textarea,
.ricento-products-listing-item-configure .form-list td.value textarea {
    width: 500px;
}

/*********** Increment ***********/

table.allowed-combinations {border: 1px solid #ccc}
table.allowed-combinations th {background-color: #eee; font-weight: bold; font-size: 1.1em; padding: 5px;}
table.allowed-combinations td {width: 50%; padding: 5px;}

/********** Product Preview Page **********/

.product_item_preview, .product_item_preview .container {
	padding: 20px;
	min-width: 960px;
}

.product_item_preview .messages {
	text-align: center;
	font-size: 18px;
}

.product_item_preview .breadcrumb {
	background-color: #eee;
	width: 100%;
	padding: 4px;
	text-indent: 20px;
}

.product_item_preview h1 {
	font-size: 28px;
	font-weight: bold;
	color:  rgb(25, 70, 160);
}
.product_item_preview h2 {
	font-size: 16px;
	color: #888;
	margin-bottom: 15px;
}

.product_item_preview span.label {
	font-weight: bold;
	line-height: 25px;
	display: inline-block;
	width: 180px;
}

.product_item_preview button {
	height: 40px;
	width: 130px;
	padding: 10px;
}

.product_item_preview .product_image {
	float: left;
	margin-right: 20px;
    min-height: 400px;
	width: 300px;
}
.product_item_preview .product_image img {
	border: 1px solid #ccc;
	padding: 10px;
}
.product_item_preview .product_image .more-views ul li{
	float: left;
	margin-right: 10px;
}

.product_item_preview .schedule {
	margin-left: 300px;;
	margin-bottom:20px;
	border-bottom: 5px solid #ddd;
}

.product_item_preview .remaining_time {
	font-size: 16px;
	font-weight: bold;
	float: left;
	margin-right: 20px;
}
.product_item_preview .starting_date {
	font-size: 16px;
	padding-bottom: 10px;
}
.product_item_preview .product_auction_buynow {
	margin-left: 300px;
	position: relative;
}

.product_item_preview .product_auction_buynow .row {
	height: 80px;
	width: 500px;
}

.product_item_preview .product_auction_buynow .auction_box {
	float: left;
	width: 140px;
	padding: 10px;
}

.product_item_preview .product_auction_buynow .auction_container .auction_price {
	background-color: #eee;
	padding: 5px;
	color: rgb(246, 146, 28);
	font-weight: bold;
	font-size: 18px;
}

.product_item_preview .product_auction_buynow .increment_container input#increment {
	height: 25px;
	padding: 0 5px;
	font-size: 16px;
	width: 130px;
}

.product_item_preview .product_auction_buynow .button_bit {
	margin-top: 10px;
}

.product_item_preview .product_auction_buynow .button_bit button {
	background: rgb(246, 146, 28);
	border: 1px solid #f5ac00;
}

.product_item_preview .product_auction_buynow .quantity {
	width: 150px;
	float: left;
	margin-top: 5px;
}
.product_item_preview .product_auction_buynow .quantity input{
	height: 25px;
	padding: 0 5px;
	font-size: 16px;
	width: 40px;
	margin-right: 10px;
}

.product_item_preview .product_auction_buynow .buy_now .label {
	font-size: 24px;
	font-weight: bold;
	color: rgb(166, 184, 38);
	float: left;
	line-height: 38px;
	text-align: right;
	margin-right: 20px;
	margin-left: 25px;
}
.product_item_preview .product_auction_buynow .buy_now button {
	background: rgb(166, 184, 38);
	border: 1px solid rgb(166, 184, 38);
	float: right;
	margin-right: 20px;
}

.product_item_preview .description h2 {
	margin-top: 20px;
	color:  rgb(25, 70, 160);
}

.product_item_preview .additional h2 {
	background: rgb(246, 146, 28);
	border-radius: 5px;
	padding: 5px 10px;
	color: #FFF;
	margin-top: 20px;
}

.product_item_preview .additional h3 {
	background: #eee;
	padding: 10px;
	margin: 10px 0;
	border-top: 1px solid #888;
	font-size: 14px;
}

.product_item_preview .additional ul {
	padding: 0 20px;
}

.product_item_preview ul.navigation {
	margin-top: 20px;
	border-bottom: 1px solid rgb(246, 146, 28);
	padding-bottom: 8px;
}
.product_item_preview ul.navigation a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	padding: 10px 20px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #ddd;
}
.product_item_preview ul.navigation a:hover, 
.product_item_preview ul.navigation a.nav-description {
	color: #fff;
	background: rgb(246, 146, 28);
}
.product_item_preview ul.navigation li.tab {
	display: inline-block;
}

/********** Synchronization Job Page **********/

.sync-progress-bar {
    width:100%;
    height:15px;
    border:1px solid #ccc;
    padding:0;
    margin:0;
    position:relative;
    display: block;
    background-color: #000055;
}

.sync-progress-bar div {
    background-color:#fff;
}
.sync-indicator-text, .sync-advice {
    position: relative;
    text-align: center;
    width: 100%;
    min-height: 16px;
}
.sync-indicator {
    background: url(images/ajax-loader.gif) no-repeat;
    background-position: 10px 0;
    text-indent: 15px;
}

.job_status-success, .log_status-success, .message_success{
    color: green;
}

.job_status-error, .log_status-error, .message_errors {
    color: red;
}

.job_status-warning, .log_status-warning, .message_warnings {
    color: orange;
}

.message_success, .message_warnings, .message_errors {
    margin-bottom: 3px;
}
.ricento_dashboard .left {
    width: 33%;
}
.ricento_dashboard .right {
    width: 66%;
}

.ricento_toolbar {
    margin-bottom: 20px;
}
.ricento_toolbar:after {
    content: "";
    display: block;
    clear: both;
}
.ricento_toolbar li {
    display: block;
    float: left;
    margin-right: 5px;
    width: 100px;
    text-align: center;
}
.ricento_icon:before {
    content: "";
    display: block;
    width: 57px;
    height: 57px;
    margin: auto;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    background-color: rgb(246, 146, 28);;
    background-position: center center;
    background-repeat: no-repeat;
}
.ricento_icon_list:before {
    background-image: -webkit-gradient(radial, 28.5 -47, 0, 28.5 0, 700,
    from(rgba(255,255,255,1)), to(rgba(255,255,255,0)),
    color-stop(10%, rgba(255,255,255,0.2)),
    color-stop(10.5%, rgba(140,140,140,0.2)),
    color-stop(13%, rgba(140,140,140,0)),
    color-stop(13.7%, rgba(255,255,255,0)),
    color-stop(17%, rgba(255,255,255,1))), url(../images/view-details-48.png);
    background-image: -moz-radial-gradient(28.5px -47px 45deg, circle farthest-side,
    rgba(255,255,255,1) 0%,
    rgba(255,255,255,0.2) 72%,
    rgba(140,140,140,0.3) 74.5%,
    rgba(140,140,140,0) 85%,
    rgba(255,255,255,0) 95%,
    rgba(255,255,255,1) 160%), url(../images/view-details-48.png);
}
.ricento_icon_sync:before {
    background-image: -webkit-gradient(radial, 28.5 -47, 0, 28.5 0, 700,
    from(rgba(255,255,255,1)), to(rgba(255,255,255,0)),
    color-stop(10%, rgba(255,255,255,0.2)),
    color-stop(10.5%, rgba(140,140,140,0.2)),
    color-stop(13%, rgba(140,140,140,0)),
    color-stop(13.7%, rgba(255,255,255,0)),
    color-stop(17%, rgba(255,255,255,1))), url(../images/sinchronize-48.png);
    background-image: -moz-radial-gradient(28.5px -47px 45deg, circle farthest-side,
    rgba(255,255,255,1) 0%,
    rgba(255,255,255,0.2) 72%,
    rgba(140,140,140,0.3) 74.5%,
    rgba(140,140,140,0) 85%,
    rgba(255,255,255,0) 95%,
    rgba(255,255,255,1) 160%), url(../images/sinchronize-48.png);
}
.ricento_icon_logs:before {
    background-image: -webkit-gradient(radial, 28.5 -47, 0, 28.5 0, 700,
    from(rgba(255,255,255,1)), to(rgba(255,255,255,0)),
    color-stop(10%, rgba(255,255,255,0.2)),
    color-stop(10.5%, rgba(140,140,140,0.2)),
    color-stop(13%, rgba(140,140,140,0)),
    color-stop(13.7%, rgba(255,255,255,0)),
    color-stop(17%, rgba(255,255,255,1))), url(../images/statistics-48.png);
    background-image: -moz-radial-gradient(28.5px -47px 45deg, circle farthest-side,
    rgba(255,255,255,1) 0%,
    rgba(255,255,255,0.2) 72%,
    rgba(140,140,140,0.3) 74.5%,
    rgba(140,140,140,0) 85%,
    rgba(255,255,255,0) 95%,
    rgba(255,255,255,1) 160%), url(../images/statistics-48.png);
}
.ricento_icon_conf:before {
    background-image: -webkit-gradient(radial, 28.5 -47, 0, 28.5 0, 700,
    from(rgba(255,255,255,1)), to(rgba(255,255,255,0)),
    color-stop(10%, rgba(255,255,255,0.2)),
    color-stop(10.5%, rgba(140,140,140,0.2)),
    color-stop(13%, rgba(140,140,140,0)),
    color-stop(13.7%, rgba(255,255,255,0)),
    color-stop(17%, rgba(255,255,255,1))), url(../images/settings-13-48.png);
    background-image: -moz-radial-gradient(28.5px -47px 45deg, circle farthest-side,
    rgba(255,255,255,1) 0%,
    rgba(255,255,255,0.2) 72%,
    rgba(140,140,140,0.3) 74.5%,
    rgba(140,140,140,0) 85%,
    rgba(255,255,255,0) 95%,
    rgba(255,255,255,1) 160%), url(../images/settings-13-48.png);
}
.ricento_icon_support:before {
    background-image: -webkit-gradient(radial, 28.5 -47, 0, 28.5 0, 700,
    from(rgba(255,255,255,1)), to(rgba(255,255,255,0)),
    color-stop(10%, rgba(255,255,255,0.2)),
    color-stop(10.5%, rgba(140,140,140,0.2)),
    color-stop(13%, rgba(140,140,140,0)),
    color-stop(13.7%, rgba(255,255,255,0)),
    color-stop(17%, rgba(255,255,255,1))), url(../images/online-support-48.png);
    background-image: -moz-radial-gradient(28.5px -47px 45deg, circle farthest-side,
    rgba(255,255,255,1) 0%,
    rgba(255,255,255,0.2) 72%,
    rgba(140,140,140,0.3) 74.5%,
    rgba(140,140,140,0) 85%,
    rgba(255,255,255,0) 95%,
    rgba(255,255,255,1) 160%), url(../images/online-support-48.png);
}
.icons-copyright {
    text-align: right;
    font-size: 9px;
}
.ricento_news_item {
    margin-bottom: 15px;
}