/* @override http://dev.ricento.local/skin/adminhtml/default/default/ricento/css/ricento.css */

input[type="radio"] {
    margin-right: 7px;
}

.hidden {
    visibility: hidden;
}

#nav li.ricardo_logo > a {
    background: url("images/ricardo_16x16.png") no-repeat 10px 5px !important
}
#nav li.ricardo_logo > a span {
    padding-left: 20px;
}

.dialog table.table_window .grid td,
.dialog table.table_window .grid th {
    padding: 2px 4px;
}
#diglin_ricento_create_listing_fieldset {
    margin-top: 20px;
}
#diglin_ricento_create_listing_fieldset > .hor-scroll {
    position: relative;
    height: 150px;
}
#diglin_ricento_buttons_container {
    position: absolute;
    bottom: 0;
    right: 0;
}
.validation-advice .messages {
    margin-left: -16px;
}
.allowed-payment-combinations {
    margin-top: 20px;
    list-style: square outside;
}
.allowed-payment-combinations li {
    min-height: auto!important;
    font-weight: normal!important;
    font-size: 1em!important;
}
.allowed-payment-combinations em {
    font-size: 1.5em;
    font-weight: bold;
    color: red;
}
#sales_options_price_change_type {
    width: auto;
}
#diglin_ricento_price_change {
    width: 30px;
}
.ricento-form .inline-select {
    width: auto !important;
}
.ricento-form .inline-number {
    width: 50px;
}
.ricento-form td.value {
    width: auto !important;
}

.diglin_ricento_warning_icon {
    min-width: 16px;
    min-height: 16px;
    background: url('images/warning_msg_icon.gif') center center no-repeat;
}
.diglin_ricento_settings_icon {
    min-width: 16px;
    min-height: 16px;
    background: url('images/settings_icon.png') center center no-repeat;
}
.diglin_ricento_status_info dt {
    clear: both;
    float: left;
}
.diglin_ricento_status_info dd {
    float: right;
}

/********** Category Mapping views **********/

#ricardo_categories {}
#ricardo_categories nav {
    width: 200px;
    float: left;
    background-color: rgba(255,255,255,0.7);
}
.ricardo_categories_resized nav {
    max-width: 160px;
}
#ricardo_children nav {
    margin-left: 20px;
}
#ricardo_categories li > a {
    display: block;
    padding: 5px;
    border-bottom: 1px solid #333;
    text-decoration: none;
    color: #333;
}
#ricardo_categories .selected a {
    background: darkorange;
    color: white;
    font-weight: bold;
}
#ricardo_categories a:hover {
    background: #FFBD69;
}
#ricardo_categories a:active {
    outline: 1px dotted #000000;
}
#ricardo_categories a div {
    margin-right: 20px;
}
#ricardo_categories input[type="radio"] {
    position: absolute;
    left: -9999px;
}
#ricardo_categories .icon {
    width: 16px;
    height: 16px;
    float: right;
    text-indent: -9999px;
}
#ricardo_categories .selected .icon-check {
    background: url('images/monotone_check_yes_ok.png') no-repeat;
}
#ricardo_categories .icon-plus {
    background: url('images/arrow_sans_right_32.gif') no-repeat;
}
#ricardo_categories .form-buttons {
    clear: both;
    text-align: right;
}

.ricardo_categories_title {
    margin-right: 10px;
    margin-left: 10px;
    font-weight: bold;
}

/********** Add missing Magento core pictures **********/

.magento_minimize { background:url('images/window_minimize.png') 0 0 no-repeat !important;}
.magento_maximize { background:url('images/window_maximize.png')0 0 no-repeat !important;}

/********** Ricento pages **********/

.ricento-products-listing-edit .form-list,
.ricento-products-listing-item-configure .form-list {
}
.ricento-products-listing-edit .form-list td.value,
.ricento-products-listing-item-configure .form-list td.value {
    width: auto !important;
}

.ricento-products-listing-edit .form-list td.value textarea,
.ricento-products-listing-item-configure .form-list td.value textarea {
    width: 500px;
}

/********** Product Preview Page **********/

.product_item_preview, .product_item_preview .container {
	padding: 20px;
	min-width: 960px;
}

.product_item_preview .messages {
	text-align: center;
	font-size: 18px;
}

.product_item_preview .breadcrumb {
	background-color: #eee;
	width: 100%;
	padding: 4px;
	text-indent: 20px;
}

.product_item_preview h1 {
	font-size: 28px;
	font-weight: bold;
	color:  rgb(25, 70, 160);
}
.product_item_preview h2 {
	font-size: 16px;
	color: #888;
	margin-bottom: 15px;
}

.product_item_preview span.label {
	font-weight: bold;
	line-height: 25px;
	display: inline-block;
	width: 180px;
}

.product_item_preview button {
	height: 40px;
	width: 130px;
	padding: 10px;
}

.product_item_preview .product_image {
	float: left;
	margin-right: 20px;
    min-height: 400px;
	width: 300px;
}
.product_item_preview .product_image img {
	border: 1px solid #ccc;
	padding: 10px;
}
.product_item_preview .product_image .more-views ul li{
	float: left;
	margin-right: 10px;
}

.product_item_preview .schedule {
	margin-left: 300px;;
	margin-bottom:20px;
	border-bottom: 5px solid #ddd;
}

.product_item_preview .remaining_time {
	font-size: 16px;
	font-weight: bold;
	float: left;
	margin-right: 20px;
}
.product_item_preview .starting_date {
	font-size: 16px;
	padding-bottom: 10px;
}
.product_item_preview .product_auction_buynow {
	margin-left: 300px;
	position: relative;
}

.product_item_preview .product_auction_buynow .row {
	height: 80px;
	width: 500px;
}

.product_item_preview .product_auction_buynow .auction_box {
	float: left;
	width: 140px;
	padding: 10px;
}

.product_item_preview .product_auction_buynow .auction_container .auction_price {
	background-color: #eee;
	padding: 5px;
	color: rgb(246, 146, 28);
	font-weight: bold;
	font-size: 18px;
}

.product_item_preview .product_auction_buynow .increment_container input#increment {
	height: 25px;
	padding: 0 5px;
	font-size: 16px;
	width: 130px;
}

.product_item_preview .product_auction_buynow .button_bit {
	margin-top: 10px;
}

.product_item_preview .product_auction_buynow .button_bit button {
	background: rgb(246, 146, 28);
	border: 1px solid #f5ac00;
}

.product_item_preview .product_auction_buynow .quantity {
	width: 150px;
	float: left;
	margin-top: 5px;
}
.product_item_preview .product_auction_buynow .quantity input{
	height: 25px;
	padding: 0 5px;
	font-size: 16px;
	width: 40px;
	margin-right: 10px;
}

.product_item_preview .product_auction_buynow .buy_now .label {
	font-size: 24px;
	font-weight: bold;
	color: rgb(166, 184, 38);
	float: left;
	line-height: 38px;
	text-align: right;
	margin-right: 20px;
	margin-left: 25px;
}
.product_item_preview .product_auction_buynow .buy_now button {
	background: rgb(166, 184, 38);
	border: 1px solid rgb(166, 184, 38);
	float: right;
	margin-right: 20px;
}

.product_item_preview .description h2 {
	margin-top: 20px;
	color:  rgb(25, 70, 160);
}

.product_item_preview .additional h2 {
	background: rgb(246, 146, 28);
	border-radius: 5px;
	padding: 5px 10px;
	color: #FFF;
	margin-top: 20px;
}

.product_item_preview .additional h3 {
	background: #eee;
	padding: 10px;
	margin: 10px 0;
	border-top: 1px solid #888;
	font-size: 14px;
}

.product_item_preview .additional ul {
	padding: 0 20px;
}

.product_item_preview ul.navigation {
	margin-top: 20px;
	border-bottom: 1px solid rgb(246, 146, 28);
	padding-bottom: 8px;
}
.product_item_preview ul.navigation a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	padding: 10px 20px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #ddd;
}
.product_item_preview ul.navigation a:hover, 
.product_item_preview ul.navigation a.nav-description {
	color: #fff;
	background: rgb(246, 146, 28);
}
.product_item_preview ul.navigation li.tab {
	display: inline-block;
}

