.dialog table.table_window .grid td,
.dialog table.table_window .grid th
{
    padding: 2px 4px;
}
#diglin_ricento_create_listing_fieldset {
    margin-top: 20px;
}
#diglin_ricento_create_listing_fieldset > .hor-scroll {
    position: relative;
    height: 150px;
}
#diglin_ricento_buttons_container {
    position: absolute;
    bottom: 0;
    right: 0;
}
#diglin_ricento_price_change_type {
    width: auto;
}
#diglin_ricento_price_change {
    width: 30px;
}
#products_listing_tabs_selloptions_section_content .inline-select {
    width: auto !important;
}
#products_listing_tabs_selloptions_section_content  .inline-number {
    width: 50px;
}
#products_listing_tabs_selloptions_section_content td.value {
    width: auto !important;
}